[build]
  publish = "out"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  NODE_OPTIONS = "--openssl-legacy-provider"

[[plugins]]
  package = "@netlify/plugin-nextjs"
  [plugins.inputs]
    disable = true
